body {
    background-image: linear-gradient(to right top, #b4e2da, #8bdac6, #77e2e6, #58d9dd, #4bcfe0);
}

span {
    font-size: 30px;
}

#camera,

#result {
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

#emotion_result,
#emotion_result2 {
    color: black;
}

.emotion_name {
    font-size: 40px;
}

.emoji {
    font-size: 48px;
}
.title {
    font-size: 50px;
    border-radius: 20px;
    letter-spacing: 2px;
}
label {
    font-size: 14px;
color: brown;
padding: 6px;
border-radius: 10px;
background-color: beige;
}